html { 
  background: url(images/field1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

img {
  height: auto;
  width: 30%;
  margin-bottom: 15px;
}

/* @media only screen and (max-width: 900px) {
  img {
    width: 40%;
  }
}
 */
